
* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8
}

