@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.questionList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 70px;
  border: 10px;
  background-color: rgb(178, 183, 183);
  box-shadow: 0px 2px 5px 1px 
}