@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.title-Card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    font-family: 'Lato', sans-serif;
  }
  
  .title-Card > .title-button {
    flex-grow: 1;
    font-family: 'Lato', sans-serif;
  }
